/* Error: Undefined mixin.
 *   ,
 * 6 | / @include mobile {
 * 7 | |   .hide-mobile { display: none !important; }
 * 8 | \ }
 *   '
 *   src/scss/utilities/responsive.scss 6:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 6 \2502  \250c  @include mobile {\a 7 \2502  \2502    .hide-mobile { display: none !important; }\a 8 \2502  \2514  }\a   \2575 \a   src/scss/utilities/responsive.scss 6:1  root stylesheet";
}
