// Reset & Base Styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  background: $brand-white;
}